.content {
    border-radius: 50%;
    background-image: url(./exercice/horloge.jpg);
    background-size: 100%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.clock {
    position: relative;
    width: 350px;
    height: 350px;
}

.minute, .hour {
    position: absolute;
    height: 100px; width: 6px;
    margin: auto;
    top: -27%; left: 0;	bottom: 0; right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: black;
}

.minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

.second {
    position: absolute;
    height: 90px;
    width: 2px;
    margin: auto;
    top: -26%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #000000;
    transform-origin: bottom center;
    transform: rotate(180deg);
}

.pivot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    border: 2px solid #1b1b1b;
    border-radius: 50%;
    margin: auto;
}

/* Barre progression */
.trait
{
color:#fff;
background-color:#1be936;
width:0%;
height:50px;
padding-top:15px;
box-shadow:4px 6px #666;
}
.btn
{
border:none;
padding:8px 16px;
color:rgb(0, 0, 0);
background-color:#1be936;
cursor:pointer;
margin-left:15px;
}
