*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*-------------------------------------------------DEBUT MENU NAV / BURGER ------------------------------------------------------ */
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
    border: 7px solid transparent;
    border-bottom-color: black;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(31, 63, 94, 0.678);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  .menu-items{
    font-size: 15rem;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500px;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      font-size: 1.2rem;
  }
  
  .nav-container {
    margin-top: -10px;
    display: block;
    position: relative;
    height: 80px;
  }
  
  .nav-container .checkbox {
    position: fixed;
    display: block;
    height: 32px;
    width: 50px;
    top: 20px;
    left: 20px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    background-color: white;
    padding: 5px;
    outline: auto black;
    display: block;
    height: 26px;
    width: 32px;
    position: fixed;
    top: 17px;
    left: 30px;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    z-index: 7;
    padding-top: 120px;
    background: linear-gradient(#0b6911, #1577af);
    box-shadow: inset 0 0 20px rgb(2, 39, 19);
    height: 100%;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: fixed;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
/*-------------------------------------------------FIN MENU NAV / BURGER ------------------------------------------------------ */

.moi{
    box-shadow: -5px -5px 2px 1px rgba(21, 21, 22, 0.856);
    max-width: 85%;
    margin-left: 35px;
}
.img_acceuil{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('./Ressources/sunset-g7595717f2_1920.jpg') no-repeat center/cover fixed;
    position: relative;
    overflow-x: hidden;
}
.img_acceuil > h2{
    color: white;
    z-index: 0;
    font-size: 10vh;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgb(60, 255, 0), 0 0 1em blue, 0 0 0.2em blue;
}
.foret{
    max-width: 100%;
    min-height: 70vh;
}

li{
    margin-bottom: 40px;
}
li.gauche{
    margin-left: 200px;
}
.titre_competences{
    margin-left: 25px;
}
#mes_competences{
    background-color: #013328;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.formations{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    min-height: 80vh;
    display: grid;
    grid-template-areas: 
    "header" "menu1" "menu2";
    background-color: #100D0D;
    color: white;
    text-align: center;
}
.mes_formations{
    border: 0.5px solid black;
    grid-area: header;
    text-shadow: 0px 4px 10px black;
}
.mes_formations >h2{
    padding-bottom: 35px;
}
.formations > div > h2{
    margin-top: 50px;
}
.formations > div > p{
    margin-top: 25px;
}
.formation1{
    grid-area: menu1;
}
.formation2{
    grid-area: menu2;
}
.formation1, .formation2, .formation3{
    box-shadow: 8px 8px 2px 1px rgba(15, 15, 15, 0.5);
}
.formations > div {
    background-color: #315c2b;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgb(16, 70, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0);
}
.formation1:hover, .formation2:hover, .formation3:hover {
    background-color: rgb(21, 122, 35);
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px 2px rgb(16, 70, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}
.formation1 p, .formation2 p, .formation3 p{
    visibility: hidden;
    margin-left: 10px;
}
.formation1:hover p, .formation2:hover p, .formation3:hover p{
    visibility: visible;
}
.formation1:hover, .formation2:hover, .formation3:hover{
    height: 200px;
}
.a_propos{
    padding-top: 80px;
    background-color: #CC8B65;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.a_propos > img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.a_propos > h2{
    margin-top: 20px;
    margin-bottom: 50px;
}
.a_propos > p{
    margin-bottom: 50px;
}
#exp_user{
    background-color: grey;
}
.exp_user{
    display: block;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
}
.exp_user > h1{
    padding-bottom: 15px;
}
.exp_user > img{
    max-width: 350px;
    border-radius: 7%;
    border: 5px solid black;
}
.map{
    font-size: 2rem;
    color: red;
    margin-bottom: 20px;
}
.cv{
    margin-top: 35px;
    padding: 20px;
    font-size: 5rem;
    border: 5px solid black;
    border-radius: 25%;
    transition: color 0.5s;
    color: rgba(255, 255, 255, 0.753);
    background-color: rgba(0, 0, 0, 0.5);
}
.cv:hover{
    color: rgba(255, 0, 0, 0.95);
}
.carte{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 450px;
}
.carte > h2 {
    margin-bottom: 35px;
    margin-left: 40px;
    margin-right: 40px;
}

.testing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 15px;
    max-width: 450px;
    min-height: 500px;
}

.testing > h1{
    margin-bottom: 15px;
}

.footer_div_img{
    display: flex;
    justify-content: center;
}

footer{
    height: 750px;
    width: auto;
    background-color: #181f1c;
}
.fontawesome{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 125px;
    height: 100px;
    padding-top: 150px;
    font-size: 3.5em;
    color: white;
    display: flex;
    justify-content: space-around;
}
.fontawesome a{
    color: inherit;
}
.twitter:hover{
    color: rgb(0, 153, 255);
}
.linkedin:hover{
    color: rgb(0, 47, 255);
}
.github:hover{
    color: darkorange;
}

.contact{
    padding-top: 50px;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
.contact > h2{
    padding-top: 75px;

}
.contact > p {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.separation{
    background-color: black;
    opacity: 0.8;
    height: 5px;
    width: auto;
}

.separation_haute{
    opacity: 0.4;
    margin-left: 5%;
    margin-bottom: 15%;
    background-color: rgb(71, 57, 57);
    height: 0.8px;
    width: 90%;
}
.separation_basse{
    opacity: 0.4;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: black;
    height: 0.8px;
    width: 90%;
}

.barre_progression{
    margin-left: 30px;
    margin-right: 30px;
}
.container-js, .container-css, .container-html, .container-sass, .container-angular, .container-nodejs, .container-mysql, .container-php{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    padding-top: 15px;
}
.container-html{
    background-color: rgb(255, 145, 0);
    width: 100%;
}
.container-css{
    background-color: rgb(0, 60, 255);
    width: 85%;
}
.container-sass{
    background-color: rgba(224, 60, 31, 0.89);
    width: 80%;
}
.container-js{
    background-color: rgb(205, 224, 31);
    width: 50%;
}
.container-php{
    background-color: rgb(138, 138, 138);
    width: 100%;
}
.container-mysql {
    background-color: rgb(138, 138, 138);
    width: 100%;
}
.container-nodejs {
    background-color: rgb(138, 138, 138);
    width: 100%;
}
.container-angular {
    background-color: rgb(138, 138, 138);
    width: 100%;
}

.before{
    margin-left: 20px;
    margin-top: 35px;
}
.after{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.cv-container{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
url(./Ressources/facade-g656102781_1280.jpg) no-repeat center/cover fixed;
}

@media (min-width: 800px){
    .barre_progression{
        margin-left: 80px;
        margin-right: 80px;
    }
    .cv-container{
        color: white;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Ressources/facade-g656102781_1280.jpg) no-repeat center/cover fixed;
    }
    .testing{
    border-radius: 2%;
    padding: 15px;
    border: 5px solid black;
    margin-left: 80px;
    }
    .menu-items{
        min-width: 100%;
    }
}
.padding-top-8px{
    padding-top: 8px;
}