body{
    margin-top: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#entries{
    margin-top: 20px;
}
#carte{
    height: 255px;
    width: 180px;
    background-image: url(./YGO.png);
    outline: auto;
    background-position: center;
    background-size: cover;
}
.proposer{
    margin-top: 50px;
}
.display_none{
    display: none;
}
#display_none{
    display: none;
    transform: rotateY(180deg);
}

